<dt-fb-bar></dt-fb-bar>

<div class="home" ng-controller="HomeCtrl">

    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">组建FB团伙</h3>
        </div>
        <div class="panel-body">
            点我组建你的腐败团伙
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">管理FB团伙</h3>
        </div>
        <div class="panel-body">
            点我管理你的腐败团伙
        </div>
    </div>


</div>
