<div class="welcome">
    <h1>FBO——腐败由我</h1>

    <div style="height: 400px">
        <carousel interval="3000">
            <slide>
                <img ng-src="../static/images/meijing.jpg" style="height: 400px; margin:auto;">
                <div class="carousel-caption">

                </div>
            </slide>

            <slide>
                <img ng-src="../static/images/meishi.jpg" style="height: 400px;margin:auto;">
                <div class="carousel-caption">

                </div>
            </slide>

            <slide>
                <img ng-src="../static/images/meijing2.jpg" style="height: 400px; margin:auto;">
                <div class="carousel-caption">

                </div>
            </slide>

            <slide>
                <img ng-src="../static/images/meishi2.jpg" style="height: 400px; margin:auto;">
                <div class="carousel-caption">

                </div>
            </slide>
        </carousel>


    </div>

    <div class="button-area" style="margin:0 auto;">
        <a ng-hide-auth href="#/login" class="btn btn-primary">登陆</a>
        <a ng-hide-auth href="#/register" class="btn btn-primary">注册</a>
        <a ng-show-auth href="#/home" class="btn btn-primary">开启FB模式</a>
    </div>

</div>

